.button {
    box-shadow: -2px 6px 18px -7px #276873;
    background: #56C4AF linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    border-radius:11px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Poppins, sans-serif;
    font-size:15px;
    padding:7px 11px;
    text-decoration:none;
    text-shadow:0 0 0 #3d768a;
}
.button:hover {
    background: #408c99;
}
.button:active {
    position:relative;
    top:1px;
}

.buttonSave {
    box-shadow: -2px 6px 18px -7px #3e7327;
    background: #3e7327  linear-gradient(to bottom, #77b55a 5%, #87c468 100%);
    border-radius:11px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Poppins, sans-serif;
    font-size:15px;
    padding:6px 10px;
    text-decoration:none;
    text-shadow:0 0 0 #5b8a3c;
}
.buttonSave:hover {
    background:  #77b55a;
}
.buttonSave:active {
    position:relative;
    top:1px;
}

.buttonCancel {
    box-shadow: -2px 6px 18px -7px #e67a73;
    background: #8a2a21 linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    border-radius:11px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Poppins, sans-serif;
    font-size:15px;
    padding:6px 10px;
    text-decoration:none;
    text-shadow:0 0 0 #b23e35;
}
.buttonCancel:hover {
    background: #eb675e;
}
.buttonCancel:active {
    position:relative;
    top:1px;
}

.buttonBack {
    box-shadow: -2px 6px 18px -7px #5F625E;
    background: #4F554F linear-gradient(to bottom, #787C76 5%, #696D69 100%);
    border-radius:11px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Poppins, sans-serif;
    font-size:15px;
    padding:6px 10px;
    text-decoration:none;
    text-shadow:0 0 0 #5F625E;
}
.buttonBack:hover {
    background: #4F554F;
}
.buttonBack:active {
    position:relative;
    top:1px;
}
