// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Vue Select
@import '~vue-select/src/scss/vue-select';


.required:after {
    content:" *";
    color:red;
}

.thead-dark{
    background-color: #211F1F;
    border: 1px solid #918D8D;
    color: #6B4F4F;
}

.warning{
    color:red;
}
