// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Vue Select
@import '~vue-select/src/scss/vue-select';


.required:after {
    content:" *";
    color:red;
}

.thead{
    background-color: #211F1F;
    border: 1px solid #918D8D;
    color: white;
}

.warning{
    color:red;
}

.page {
    color: black;
    background-color: #F9FFFD
}

.font {
    font-family: a;
    font-size: 16pt
}
